;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Aug 29 15:03:12 2018
;; Desktop file format version 208
;; Emacs version 25.2.1

;; Global section:
(setq desktop-saved-frameset nil)
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 208
  "/Users/jayson.barley/development/jenkins_triage/jenkins_triage/jenkins_triage.py"
  "jenkins_triage.py"
  'python-mode
  '(flycheck-mode outline-minor-mode workgroups-mode yas-minor-mode)
  1847
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix))
  '((mark-ring nil)))

(desktop-create-buffer 208
  "/Users/jayson.barley/development/puppetlabs-pe_install/knowledge.org"
  "knowledge.org"
  'org-mode
  '(flycheck-mode git-gutter-mode workgroups-mode yas-minor-mode)
  492
  '(135 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (truncate-lines . t))
  '((mark-ring (98 70 98 365 654 623 571 134 215 123 812 538 111 522 1 1))))

(desktop-create-buffer 208
  "/Users/jayson.barley/development/puppetlabs-pe_install/manifests/install.pp"
  "install.pp"
  'fundamental-mode
  '(git-gutter-mode auto-revert-mode workgroups-mode yas-minor-mode)
  4002
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix))
  '((mark-ring nil)))

